<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 如果用省略dao层的实现层 命名空间是接口类的全路径 -->
<mapper namespace="dao.ConfigPublicCharMapper">
           
	<resultMap type="ConfigPublicChar" id="cpc">
		<id property="pbcid" column="pbc_id" />
		<result column="attribute_kind" property="attributekind" />
		<result column="attribute_name" property="attributename" />
	</resultMap>
	
	<insert id="insertConfigPublicChar" parameterType="ConfigPublicChar">
   insert into config_public_char(pbc_id,attribute_kind,attribute_name) 
   values( #{pbcid},#{attributekind},#{attributename}) 
	</insert>
	
   <delete id="deleteConfigPublicChar" parameterType="_int">
    delete from config_public_char where pbc_id=#{id}
   </delete>
   
   <update id="updateConfigPublicChar" parameterType="ConfigPublicChar">
    update config_public_char set pbc_id=#{pbcid},attribute_kind=#{attributekind},attribute_name=#{attributename}
      where  pbc_id=#{pbcid}
   </update>
   
	<select id="selectConfigPublicCharById" parameterType="_int" resultMap="cpc">
		select * from config_public_char where pbc_id=#{id}
	</select>
	
	
	<select id="selectConfigPublicCharByattributeKind" parameterType="string" resultMap="cpc">
		select * from config_public_char where attribute_kind=#{attributeKind}
	</select>
	
	
	
	<select id="selectAllConfigPublicChar" resultMap="cpc">
		select * from config_public_char
	</select>
	
	<select id="selecAllConfigPublicCharByCondition" parameterType="ConfigPublicChar" resultMap="cpc">
			select * from 	config_public_char where attribute_kind=#{attributekind}
			<!--  <trim prefix="where" prefixOverrides="and|or">
				<if test="attributekind!=null">
					and attribute_kind=#{attributekind}
				</if>
				<if test="attributekind!=null">
					and attribute_name=#{attributename}
				</if>
			</trim>-->
	</select>
	
</mapper>
  