<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 如果用省略dao层的实现层 命名空间是接口类的全路径 -->
<mapper namespace="dao.ConfigPrimaryKeyMapper">
   
       
  
	  <resultMap type="ConfigPrimaryKey" id="tid" >
    <id property="prkId" column="prk_id"/>
    <result property="primaryKeyTable" column="primary_key_table"/>
    <result property="primaryKey" column="primary_key"/>
    <result property="keyName" column="key_name"/>
    <result property="primaryKeyStatus" column="primary_key_status"/>
    </resultMap>       
  

	
	<insert id="insertConfigPrimaryKey" parameterType="ConfigPrimaryKey">
   
	insert into config_primary_key
    (prk_id,primary_key_table,primary_key,key_name,primary_key_status) 
    values(#{prkId},#{primaryKeyTable},#{primaryKey},#{keyName},#{primaryKeyStatus}) 
	
	</insert>
	
   <delete id="deleteConfigQuestionFirstKind" parameterType="short">
    delete from config_primary_key where   prk_id=#{prkId}
   </delete>
   
   <update id="updateConfigPrimaryKey" parameterType="ConfigQuestionFirstKind">
    update config_question_first_kind
    set prk_id=#{prkId},primary_key_table=#{primaryKeyTable},primary_key=#{primaryKey},key_name=#{keyName},primary_key_status=#{primaryKeyStatus}
    where prk_id=#{prkId}
   </update>
   
	<select id="selectConfigPrimaryKey" parameterType="short" resultMap="tid">
	select * from config_primary_key where mak_id=#{makId}
	</select>
	
	<select id="selectAllConfigPrimaryKeyByPrimaryKetTable" parameterType="string" resultMap="tid">
	select * from config_primary_key where primary_key_table=#{primaryKeyTable}
	</select>
	
	<select id="selectAllConfigPrimaryKey" resultMap="tid">
		
		select * from config_primary_key
	</select>
</mapper>
  